
<h1>ABET Criteria</h1>
<% if @abets.count > 0 %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abets.order(:name).each do |abet| %>
      <tr>
        <td><%= abet.name %></td>
        <td><%= abet.description %></td>
        <td><%= link_to 'Show', abet %></td>
        <% if current_account.admin? %>
        <td><%= link_to 'Edit', edit_abet_path(abet) %></td>
        <td><%= link_to 'Destroy', abet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
          </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>No ABET Criteria Exist</h4>
<% end %>
<% if current_account.admin? %>
<h4><%= link_to 'New ABET Criteria', new_abet_path %></h4>
  <% end %>
<hr>
<h2>Bulk Upload ABET Criteria</h2>
<% if current_account.admin? %>
<%= form_tag import_abets_path, multipart: true do %>
  <p><%= file_field_tag :file %></p>
  <p><%= submit_tag "Import ABET Criteria" %></p>
<% end %>
  <% else %>
  <p>Only Admins can bulk upload!</p>
  <% end %>
<hr>
<h4><a href="abet_template.csv" download>Download Template</a></h4>
<h4><a href="abet_test_data.csv" download>Download Example Data</a></h4>

<h5>Tip: Assign ABET Criteria by editing Courses!</h5>