<p id="notice"><%= notice %></p>

<h1>ABET Criteria</h1>
<% if @abets.count > 0 %>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Poor</th>
      <th>Acceptable</th>
      <th>Exceeds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abets.each do |abet| %>
      <tr>
        <td><%= abet.description %></td>
        <td align="center"><%= abet.poor %></td>
        <td align="center"><%= abet.acceptable %></td>
        <td align="center"><%= abet.exceeds %></td>
        <td><%= link_to 'Show', abet %></td>
        <td><%= link_to 'Edit', edit_abet_path(abet) %></td>
        <td><%= link_to 'Destroy', abet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>No ABET Criteria Exist</h4>
<% end %>
<br>
<%= link_to 'New ABET Criteria', new_abet_path %>
<h5>Tip: Assign ABET Criteria by editing Courses!</h5>