
<p>
  <strong>Name:</strong>
  <%= @abet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @abet.description %>
</p>

<p>
  <strong>Poor:</strong>
  <%= @abet.poor %>
</p>

<p>
  <strong>Acceptable:</strong>
  <%= @abet.acceptable %>
</p>

<p>
  <strong>Exceeds:</strong>
  <%= @abet.exceeds %>
</p>
<% if current_account.admin? %>
<%= link_to 'Edit', edit_abet_path(@abet) %> |
  <% end %>
<%= link_to 'Back', abets_path %>
