
<h1>Faculty</h1>
<% if @users.count > 0 %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Office</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.order(:fname).each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.title %></td>
        <td><%= user.office %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <% if user.role == 'Administrator' %>
          <td>Admin</td>
          <% else %>
        <td><%= user.role %></td>
          <% end %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>No Faculty Exist</h4>
<% end %>

<%= link_to 'New Faculty', new_user_path %>
<hr>
<h2>Bulk Upload Faculty</h2>
<%= form_tag import_users_path, multipart: true do %>
  <p><%= file_field_tag :file %></p>
  <p><%= submit_tag "Import Faculty" %></p>
<% end %>
<hr>
<h4><a href="faculty_template.csv" download>Download Template</a></h4>
<h4><a href="faculty_test_data.csv" download>Download Example Data</a></h4>
<h5>Tip: Assign Faculty by editing Courses!</h5>