<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_number, 'Course Number' %>
    <%= form.text_field :course_number %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <h2>Faculty</h2>
  <% if User.all.count > 0 %>
  <%= form.collection_select(:user_ids, User.order('fname ASC').all, :id, :full_name, { :include_blank => "No Faculty" }, { :multiple => true }) %>
    <h5>Tip: Assign multiple Faculty by using CTRL + Click!</h5>
  <% else %>
    <h4>No Faculty Exists</h4>
  <% end %>

  <h2>ABET Criteria</h2>
  <% if Abet.all.count > 0 %>
  <%= form.collection_check_boxes(:abet_ids, Abet.all, :id, :name) do |box| %>
    <div class="row">
      <%= box.label(class: "check_box") do %>
        <div>
          <%= box.check_box(class: "check_box") %>
          <%= box.object.name %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% else %>
  <h4>No ABET Criteria Exists</h4>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
