<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_number, 'Course Number' %>
    <%= form.text_field :course_number %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <h2>Faculty</h2>

  <%= form.collection_select(:user_ids, User.all, :id, :full_name) %>

  <h2>ABET Criteria</h2>

  <%= form.collection_check_boxes(:abet_ids, Abet.all, :id, :description) do |box| %>
    <div class="row">
      <%= box.label(class: "check_box") do %>
        <div>
          <%= box.check_box(class: "check_box") %>
          <%= box.object.description %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
