<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_number, 'Course Number' %><br>
    <%= form.text_field :course_number %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <h2>Faculty</h2>
  <% if User.all.count > 0 %>
  <%= form.collection_select(:user_ids, User.order('fname ASC').all, :id, :full_name, { :include_blank => "No Faculty" }, { :multiple => true }) %>
    <h5>Tip: Assign multiple Faculty by using CTRL + Click!</h5>
  <% else %>
    <h4>No Faculty Exists</h4>
  <% end %>

<% end %>
