
<h3>Course</h3>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<h3>Assigned Faculty</h3>
<% if @course.users.count > 0 %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @course.courses_users.order(:id).each do |assignment| %>
      <tr>
        <td><%= assignment.user.full_name %></td>
        <td><%= assignment.user.title %></td>
        <td><%= assignment.user.email %></td>
        <td><%= link_to 'Show', assignment.user %></td>
        <% if current_account.admin? %>
          <td><%= link_to 'Assign ABET Criteria', edit_courses_user_path(assignment) %></td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
<h4>No Assigned Faculty</h4>
<% end %>




<br>
<% if current_account.admin? %>
<%= link_to 'Edit', edit_course_path(@course) %>
  <% end %>

