<!DOCTYPE html>
<html>
  <head>
    <title>Johnny Russell's Semester Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="nav">
    <h1 style="background-color:lightskyblue;outline-style:solid"><br>&nbsp Course Management System<br><br></h1>
    <h3>
    <%= link_to "Users", users_path %>
    <%= link_to "Courses", courses_path %>
      <%= link_to "ABET", abets_path %>
      <br>
    </h3>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
