<!DOCTYPE html>
<html>
  <head>
    <title>Johnny Russell's Semester Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="nav">
    <h1 style="background-color:lightskyblue;outline-style:solid;padding:25px">Course Management System</h1>
    <h2 style="outline-style:solid;padding:15px">
    <%= link_to "Faculty", users_path %> &nbsp; &nbsp;
    <%= link_to "Courses", courses_path %> &nbsp; &nbsp;
      <%= link_to "ABET Criteria", abets_path %>
      <br>
    </h2>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
